body {
    background-color: #960000;
}

.miHi {
    font-size: 100px;
    text-align: center;
}

.grade {
    font-size: 30px;
}

#content {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: auto;
    align-items: center;
    margin: 15vh 0;
    border: none;
    padding: 0;
    background-color: #960000;
}

.mSchool,
.hSchool {
    background-color: #960000;
    /* padding: 2vh 2vw; */
    /* margin: 0.5vh 0; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    width: 98vw;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #960000;
    color: black;
    margin: 3vh 0;
}

.course {
    background-color: white;
    padding: 2vw;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card {
    display: flex;
    flex-flow: column;
    /* margin: 0 1vw; */
    border: solid black 5px;
    border-radius: 2px;
    width: 20%;
}

.colorBlock {
    height: 10vh;
}

.card1 {
    background-color: yellow;
}

.card2 {
    background-color: orange;
}

.card3 {
    background-color: red;
}

.card4 {
    background-color: #FFFB00;
}

.card5 {
    background-color: #FFA900;
}

.card6 {
    background-color: #E94529;
}

.card7 {
    background-color: #BC1220;
}

.card8 {
    background-color: #FFFB00;
}

.card9 {
    background-color: #FFA900;
}

.card10 {
    background-color: #E94529;
}

.card11 {
    background-color: #BC1220;
}
