body {
    background-color: #8D0020;
}

.department {
    height: 70vh;
    width: 100vw;
    background: grey;
    /* margin; */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2vh 2vw;
}

.department p {
    font-size: 2rem;
}

#Math {
    background-color: #8D0020;
}

#Science {
    background-color: #BC1220;
}

#English {
    background-color: #E94529;
}

#History {
    background-color: #FFA900;
}

#Arts {
    background-color: rgb(235, 231, 3);
}

#WL {
    background-color: #8D0020;
}

#physEd {
    background-color: #BC1220;
}

#YMCA {
    background-color: #E94529;
}

/* #Misc {
    background-color: #FFA900;
} */

.header {
    font-size: 5rem;
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

p {
    color: white;
}

#buttonLink {
    text-decoration: none;
}