body {
    background: url("../assets/INFINITY.png") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#imageSpace {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
}

#imageSpace h1 {
    position: fixed;
    /*keeps it in place*/
    top: 25vh;
    /* how far */
    z-index: -1;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    color: white;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    font-family: 'Gelasio', serif;
}

#content {
    background-color: #960000;
    margin: 0;
    border: none;
    height: auto;
    width: 100vw;
    padding: none;
}

.header {
    color: white;
}

.eventCard {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 15vw;
    background-color: white;
    border: 5px solid black;
    border-radius: 5px;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    align-items: flex-start;
    margin: 5vh 0;
}

.eventSection1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: black; */
    height: 30%;
    font-family: 'Lato', sans-serif;
    /* font-size: 2rem; */
    font-size: 3vh;
}

.eventSection {
    height: 70%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.75vh;
}